.input {
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  height: 100%;
  padding-left: 5px;
  width: 100%;
  transition: all ease 0.5s;
}
.input:focus {
  border-bottom: 1px solid black;
}
