.container-about {
  margin-top: 120px;
  height: 706px;
  background-image: url("../../../../../../../public/images/header/banner-1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 80px 20px 0 20px;
}

.header-element-about > h1 {
  color: white;
}
.desc-element-about > p {
  color: white;
}
.about-list {
  max-width: 1100px;
  margin: 80px auto 0 auto;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.item-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.item-about > p {
  color: white;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}
.image-item-about > img {
}
.item-about:hover > .image-item-about > img {
  filter: invert(25%) sepia(56%) saturate(779%) hue-rotate(336deg)
    brightness(104%) contrast(101%);
}
.about-list-2 {
  margin-top: 80px;
  display: none;
}
@media only screen and (max-width: 913px) {
  .about-list-2 {
    display: block;
  }
  .about-list {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .swiper-container {
    width: 500px;
  }
}

.profile-about {
  width: 232px;
  height: 60px;
  background: linear-gradient(100.54deg, #ffb928 0%, #fecf36 100%);
  border-radius: 30px;
}
.profile-about {
  text-align: center;
  margin: 20px auto 0 auto;
}
.profile-about > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.profile-about > a > span {
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.profile-about > a > .download {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
